@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --primary-100: #1d2c2b;
  --primary-200: #679f9a;
  --primary-300: #30d9dc;
  --darkBackground: #040505;
  --gradient-primary: linear-gradient(135deg, #000000, #a6fff8);
}

@theme inline {
  --color-darkBackground: var(--darkBackground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

.bg-gradient-primary {
  background-image: var(--gradient-primary);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .desktop-visibility {
    display: none
  }
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}